In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [2]:
test_file = './dataset/train.csv'
with open(test_file, 'rb') as header_file:
    headers = header_file.readline().strip().split(',')
print headers

['AnimalID', 'Name', 'DateTime', 'OutcomeType', 'OutcomeSubtype', 'AnimalType', 'SexuponOutcome', 'AgeuponOutcome', 'Breed', 'Color']

In [3]:
usecols = headers[2:4] + headers[5:]
print usecols

['DateTime', 'OutcomeType', 'AnimalType', 'SexuponOutcome', 'AgeuponOutcome', 'Breed', 'Color']

In [4]:
df = pd.read_csv( test_file, usecols=usecols).dropna()

In [5]:
len(df)

26710

In [6]:
df.tail(3)

,DateTime,OutcomeType,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
26726,2015-03-09 13:33:00,Adoption,Dog,Neutered Male,4 years,Old English Bulldog Mix,White/Tan
26727,2014-04-27 12:22:00,Transfer,Cat,Intact Male,4 weeks,Domestic Shorthair Mix,Black
26728,2015-07-02 09:00:00,Transfer,Cat,Intact Male,1 year,Domestic Shorthair Mix,Brown Tabby/White

In [ ]:
print len(set(df['Breed']))
# print set(df['Breed'])

In [ ]:
sns.countplot(df.OutcomeType)
plt.title('Outcome Type')
plt.show()

In [ ]:
sns.countplot(data = df, x='OutcomeType', hue='AnimalType')
plt.title('OutcomeType with AnimalType')
plt.show()

In [ ]:
sns.countplot(df.AnimalType)
plt.title('Animal type in shelter')
plt.show()

In [ ]:
sns.countplot(df.SexuponOutcome)
plt.title('Sex distribution in shelter')
plt.show()

In [ ]:
sns.countplot(data=df, x='SexuponOutcome', hue='OutcomeType')
plt.title('SexuponOutcome with OutcomeType')
plt.show()

In [ ]:
sns.countplot(data=df, x='SexuponOutcome', hue='AnimalType')
plt.title('SexuponOutcome with AnimalType')
plt.show()

In [ ]:
df['AgeuponOutcome'].tail()

In [7]:
test = df['AgeuponOutcome']

In [8]:
for row, index in zip(test, test.index):
    item = row.split(' ')
    item[0] = int(item[0])
    if 'year' in item[1]:
        test[index] = item[0] * 365
    elif 'month' in item[1]:
        test[index] = item[0] * 30
    elif 'week' in item[1]:
        test[index] = item[0] * 7
    elif 'day' in item[1]:
        test[index] = item[0]

In [ ]:
sns.countplot(df.AgeuponOutcome)
plt.title('AgeuponOutcome - day')
plt.show()

In [9]:
df['AgeOutcomeYear'] = [x/365 for x in df['AgeuponOutcome']]

In [ ]:
sns.countplot(df.AgeOutcomeYear)
plt.title('AgeuponOutcome - Year')
plt.show()

In [ ]:
sns.countplot(data=df, x='AgeOutcomeYear', hue='AnimalType')
plt.title('Age(Year) with AnimalType')
plt.show()

In [ ]:
sns.countplot(data=df, x='AgeOutcomeYear', hue='OutcomeType')
plt.title('Age(year) with OutcomeType')
plt.show()

In [10]:
df['AgeOutcomeMonth'] = [x/30 for x in df['AgeuponOutcome']]

In [ ]:
sns.countplot(df.AgeOutcomeMonth)
plt.title('AgeuponOutcome - Month')
plt.show()

In [ ]:
sns.countplot(data=df, x='AgeOutcomeMonth', hue='AnimalType')
plt.title('Age(Month) with AnimalType')
plt.show()

In [ ]:
sns.countplot(data=df, x='AgeOutcomeMonth', hue='OutcomeType')
plt.title('Age(Month) with OutcomeType')
plt.show()

In [11]:
df['AgeOutcomeWeek'] = [x/7 for x in df['AgeuponOutcome']]

In [ ]:
sns.countplot(df.AgeOutcomeWeek)
plt.title('AgeuponOutcome - Week')
plt.show()

In [12]:
temp = df['DateTime']
df['IntakeYear'] = [int(row[:4]) for row in temp]
df['IntakeMonth'] = [int(row[5:7]) for row in temp]
df['IntakeDay'] = [int(row[8:10]) for row in temp]
df['IntakeTime'] = [int(row[11:13]) for row in temp]

#     temp = int(row[11:13])
#     if temp >= 9  and temp <= 17:
#         df['IntakeTime'][i] = 0
#     elif temp >= 18 and temp <= 22:
#         df['IntakeTime'][i] = 1
#     elif temp >= 5 and temp <= 8:
#         df['IntakeTime'][i] = 3
#     else:
#         df['IntakeTime'][i] = 2
# 09~17 : Work (0)
# 18~22 : Dinner (1)
# 22~04 : Dawn (2)
# 05~08 : Commute (3)

In [13]:
df.tail()

,DateTime,OutcomeType,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color,AgeOutcomeYear,AgeOutcomeMonth,AgeOutcomeWeek,IntakeYear,IntakeMonth,IntakeDay,IntakeTime
26724,2015-05-14 11:56:00,Transfer,Cat,Intact Male,30,Domestic Shorthair Mix,Brown Tabby/White,0,1,4,2015,5,14,11
26725,2016-01-20 18:59:00,Transfer,Cat,Spayed Female,90,Domestic Shorthair Mix,Brown Tabby,0,3,12,2016,1,20,18
26726,2015-03-09 13:33:00,Adoption,Dog,Neutered Male,1460,Old English Bulldog Mix,White/Tan,4,48,208,2015,3,9,13
26727,2014-04-27 12:22:00,Transfer,Cat,Intact Male,28,Domestic Shorthair Mix,Black,0,0,4,2014,4,27,12
26728,2015-07-02 09:00:00,Transfer,Cat,Intact Male,365,Domestic Shorthair Mix,Brown Tabby/White,1,12,52,2015,7,2,9

In [ ]:
print set(df['Color'])

In [ ]:
sns.countplot(df['IntakeYear'])
plt.title('Intake per year')
plt.show()

In [ ]:
sns.countplot(df['IntakeMonth'])
plt.title('Intake per month')
plt.show()

In [ ]:
sns.countplot(df['IntakeDay'])
plt.title('Intake per day')
plt.show()

In [ ]:
sns.countplot(df['IntakeTime'])
plt.title('Intake with time')
plt.show()

In [ ]:
sns.countplot(data=df, x='IntakeYear', hue='IntakeMonth')
# plt.title('Age(Month) with AnimalType')
plt.show()

In [ ]:
sns.countplot(data=df, x='IntakeYear', hue='OutcomeType')
# plt.title('Age(Month) with AnimalType')
plt.show()

In [ ]:
sns.countplot(data=df, x='IntakeMonth', hue='AnimalType')
# plt.title('Age(Month) with AnimalType')
plt.show()

In [ ]:
sns.countplot(data=df, x='IntakeMonth', hue='OutcomeType')
# plt.title('Age(Month) with AnimalType')
plt.show()

In [ ]:
temp_2 = df[df.OutcomeType=='Transfer']

In [ ]:
df['Color'].value_counts()[:10]

In [ ]:
df['Breed'].value_counts()[:10]

In [ ]:
temp = df[df.OutcomeType=='Transfer']

In [ ]:
temp = df

In [ ]:
temp.tail()

In [ ]:
temp = df

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit_transform(temp['AnimalType'])
print 'AnimalType Encoder : {}'.format(le.classes_)
print 'Count : {}'.format(len(le.classes_))
le.fit_transform(temp['SexuponOutcome'])
print 'SexuponOutcome Encoder : {}'.format(le.classes_)
print 'Count : {}'.format(len(le.classes_))
le.fit_transform(temp['Breed'])
print 'Breed : {}'.format(le.classes_)
print 'Count : {}'.format(len(le.classes_))
le.fit_transform(temp['Color'])
print 'Color : {}'.format(le.classes_[:10])
print 'Count : {}'.format(len(le.classes_))
le.fit_transform(temp['OutcomeType'])
print 'OutcomeType : {}'.format(le.classes_)
print 'Count : {}'.format(len(le.classes_))
# temp['SexuponOutcome'] = LabelEncoder().fit_transform(df['SexuponOutcome'])
# temp['Breed'] = LabelEncoder().fit_transform(df['Breed'])
# temp['Color'] = LabelEncoder().fit_transform(df['Color'])
# temp['OutcomeType'] = LabelEncoder().fit_transform(df['OutcomeType'])

In [ ]:
temp['AnimalType'] = le.fit_transform(temp['AnimalType'])
temp['SexuponOutcome'] = le.fit_transform(temp['SexuponOutcome'])
temp['Breed'] = le.fit_transform(temp['Breed'])
temp['Color'] = le.fit_transform(temp['Color'])
temp['OutcomeType'] = le.fit_transform(temp['OutcomeType'])

In [ ]:
df.tail()

In [ ]:
# import csv
# temp.to_csv('./dataset/train_20170202.csv', sep=',')